name: CI
env:
  COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
on: push

jobs:
  golangci:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: tidy
        run: |
          echo "Gopaths:"
          go env GOPATH
          echo "Workdir"
          pwd
          echo "Files"
          ls -al
          go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          skip-pkg-cache: true
          skip-build-cache: true
          version: v1.33
  test-framework:
    name: Base testing
    runs-on: ubuntu-20.04

    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: '1.14'
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run unit tests and code coverage
        run: go test -v -coverprofile=profile.cov ./...
      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
      - name: Verify image builds
        run: |
          docker build --tag infrawatch/sg-core:latest --file build/Dockerfile .
      - name: List images
        run: |
          docker images
