name: Coveralls Badge
on:
  pull_request:
    branches-ignore:
      - master
    types:
      - opened

jobs:
  coveralls_badge:
    name: Coveralls Badge
#    if: |
#      (
#        (github.event.issue.author_association == 'OWNER') ||
#        (github.event.issue.author_association == 'COLLABORATOR') ||
#        (github.event.issue.author_association == 'CONTRIBUTOR') ||
#        (github.event.issue.author_association == 'MEMBER')
#      )
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
    steps:
      - name: update PR with coveralls badge
        uses: actions/github-script@v7.0.1
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const branchName = process.env.BRANCH_NAME;
            if (!branchName) {
              console.log("No branch name found, skipping badge update.");
              return;
            }
            
            try {
              await github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: `[![Coverage Status](https://coveralls.io/repos/github/${context.repo.owner}/${context.repo.repo}/badge.svg?branch=${branchName})](https://coveralls.io/github/${context.repo.owner}/${context.repo.repo}?branch=${branchName})`
              });
            } catch (error) {
              console.log("Could not post comment: ", error.message);
            }
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
